*{
    padding: 0;
    margin: 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/picture/login.jpg");
    background-size:cover;
    height: 100vh;
    color: #ffff;
    
    
}
.login_box, .empty{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login_form{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-transform: capitalize;
    
}
#login{
    font-size: 30px;
}

.box{
    border: 3px solid #060202;
    border-radius: 80px 1px 80px 1px;
    height: 236px;
    padding-left: 21px;
    padding-top: 82px;
    padding-right: 22px;
    padding-bottom: 105px;
    background-color: rgb(249 199 138 / 0%);
    position: absolute;
    right: 425px;
    top: 151px;
    
}
input{
    background:transparent;
    border: none;
    outline: none;
    font-size: 25px;
    color: white;
    width: 100%;
    border-bottom: 2px solid black;
    
    
}

.field{
    padding: 10px;
    margin : 10px;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    background:transparent;
    
    
    
}
.login_form .field input{
    width: 100%;
    padding: 10px 0;

}
.field label{
    position: absolute;
    left: 49px;
    font-size: 16px;
    color: black;
    
    
}

    

#logintag{
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 22px;
    top: 171px;
    right: 600px;
    
    

}
/* -----------icons------ */
.fa-solid {
    font-weight:lighter;
    display: flex;
    margin: 8px;
    padding-left:3px ;
    cursor: pointer;
    color: black;
    
}
.fa-solid:active{
    font-weight: bold;

}
.fa-regular{
    display: flex;
    margin: 8px;
    padding-left:1px;
    cursor: pointer;
    color: black;
}
.fa-regular:active{
    font-weight: bold;
}
.fa-bars{
    font-size: 38px;
}


.small{
    background-color: rgba(0, 0, 0, 0.638);
    position: absolute;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    right: 5px;
    top: 6px;
    border-radius: 10px 2px 10px 1px;
}

#instagram{
    display: flex;
    justify-content: center;
    position:absolute;
    right: 185px;
    bottom: 35px;
    
}
#login{
    top: 308px;
    border-radius: 27px;
    border: 1px solid black;
    height: 40px;
    width: 157px;
    justify-content: center;
    display: flex;
    position: absolute;
    background-color: transparent;
    text-decoration: none;
    color: black;
    

}
#login:hover{
    box-shadow: 5px 5px 11px;
}
p{
    position: absolute;
    top: 257px;
    left: 49px;
    color: black;
}